---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
// import Stats from '~/components/widgets/Stats.astro';

import heroComponente from '~/assets/images/whoteach-images/hero-componente.png';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'GENERATIVE AI',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    textAlign="side"
    title="Contenuti didattici di qualità, in pochi minuti"
    subtitle="WhoTeach Generative AI è il tuo alleato per creare corsi completi in pochi minuti, con testi, slide e quiz pronti all’uso. Basta una richiesta: l’intelligenza artificiale trasforma le tue idee in contenuti didattici coerenti, coinvolgenti e subito fruibili."
    image={{
      src: heroComponente,
      alt: 'Ambiente di studio moderno',
    }}
    callToAction={{
      text: 'Prenota una demo',
      href: '/contatti',
      variant: 'primary',
    }}
  />

  <Content
    largeImage
    isReversed
    title="WhoTeach Generative AI"
    start="top"
    classes={{
      title: 'text-red md:text-3xl',
    }}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
    items={[
      {
        title: 'Creazione rapida di materiali didattici',
        description:
          'Genera testi, slide, quiz e mappe concettuali in pochi minuti, pronti per essere usati o adattati.',
      },
      {
        title: 'Massima flessibilità nei formati',
        description: 'Esporta ogni contenuto in HTML o PowerPoint per adattarlo alle tue esigenze.',
      },
      {
        title: 'Coerenza didattica garantita',
        description: 'Materiali progettati per mantenere una struttura chiara e coerente.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Contenuti didattici completi, generati in un attimo
      </h3>
    </Fragment>

    <!-- <Fragment slot="content">
      <p class="mb-2 tracking-tight">
        Con WhoTeach, <b>l’AI non è una scatola nera</b>, ma uno strumento che
        guida, spiega e valorizza. I suggerimenti sono precisi e facilmente
        comprensibili, costruiti su misura per ogni utente e sempre in linea con
        gli obiettivi formativi.
        <br />
        Una tecnologia pensata per supportare chi insegna e stimolare chi impara,
        con percorsi chiari, coerenti e verificabili.
      </p>
    </Fragment> -->
  </Content>

  <Content
    largeImage
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
    items={[
      {
        title: 'Accesso immediato a una libreria dinamica',
        description: 'Risorse facilmente disponibili e a portata di clic.',
      },
      {
        title: 'Integrazione semplice di contenuti',
        description: 'Contenuti da fonti aperte o a pagamento per arricchire i percorsi formativi.',
      },
      {
        title: 'Selezione mirata per obiettivi specifici',
        description: "Scegli solo ciò che è rilevante per ottimizzare l'efficacia dei materiali.",
      },
      {
        title: 'Controllo totale sulla qualità',
        description: "Garantisci un'esperienza formativa eccellente.",
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Repository Integrati, Filtrabili e Sempre Aggiornati
      </h3>
    </Fragment>

    <!-- <Fragment slot="content">
      <p class="mb-2 tracking-tight">
        Accedi a una <b>libreria dinamica</b> dove ogni risorsa è a portata di clic.
        Integra facilmente contenuti da fonti aperte o a pagamento, seleziona ciò
        che davvero conta per i tuoi obiettivi formativi e mantieni il pieno controllo
        sulla qualità dei materiali.
        <br />
        Con WhoTeach, hai sempre a disposizione il meglio, aggiornato e pronto all’uso.
      </p>
    </Fragment> -->
  </Content>

  <Content
    largeImage
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
    items={[
      {
        title: 'Progettazione intuitiva di corsi di qualità',
        description:
          "Con l'interfaccia conversazionale di WhoTeach, basta scrivere in linguaggio naturale: l'AI interpreta le tue idee e le organizza in contenuti coerenti.",
      },
      {
        title: 'Strutturazione veloce di percorsi formativi',
        description:
          "L'AI ti aiuta a creare percorsi completi in modo intuitivo e rapido, senza bisogno di competenze avanzate.",
      },
      {
        title: 'Esperienza di authoring innovativa',
        description:
          'Una soluzione pensata per chi insegna davvero, con strumenti progettati per semplificare il processo di creazione.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Interfaccia conversazionale. Semplice ed efficiente
      </h3>
    </Fragment>

    <!-- <Fragment slot="content">
      <p class="mb-2 tracking-tight">
        Costruisci <b>esperienze formative</b> sempre più <b>efficaci</b>, senza
        partire da zero ogni volta.
        <br />
        Il sistema apprende dalle interazioni, ottimizza i suggerimenti e ti aiuta
        a creare percorsi sempre più mirati, aggiornati e in linea con i reali bisogni
        dei tuoi utenti.
        <br />
        Meno lavoro manuale, più impatto.
      </p>
    </Fragment> -->
  </Content>

  <Content
    largeImage
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
    items={[
      {
        title: 'Materiali didattici chiari e coinvolgenti',
        description: 'WhoTeach ti aiuta a creare contenuti pensati per tutti, con una narrazione fluida e coerente.',
      },
      {
        title: 'Inclusività per ogni esigenza',
        description:
          'Ogni persona può sentirsi parte del percorso formativo, indipendentemente dal livello di partenza o da esigenze specifiche.',
      },
      {
        title: 'Coinvolgimento come scelta progettuale',
        description: 'Inclusività e coinvolgimento non sono un’aggiunta, ma una scelta progettuale fondamentale.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Materiali coerenti, Inclusivi e coinvolgenti by Design
      </h3>
    </Fragment>

    <!-- <Fragment slot="content">
      <p class="mb-2 tracking-tight">
        Il cuore tecnologico di WhoTeach non è solo avanzato, ma anche unico. <b
          >Due brevetti</b
        > uno sul dataset proprietario e uno sull'algoritmo di raccomandazione <b
          >sono attualmente</b
        > in fase di approvazione.
        <br />
        Un riconoscimento importante che tutela il nostro lavoro di ricerca e sviluppo
        e garantisce ai nostri clienti un vantaggio competitivo concreto, affidabile
        e sostenibile nel tempo.
      </p>
    </Fragment> -->
  </Content>
  <div
    class="intersect-once intercept-no-queue intersect-quarter mx-auto mb-12 flex w-fit flex-col items-center md:mb-16 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade lg:mb-20"
  >
    <Headline
      title={'Vuoi capire se fa per te?'}
      subtitle={'Un nostro consulente è a disposizione per ascoltare le tue esigenze e capire come WhoTeach possa supportare il tuo progetto di formazione'}
      textAlign="center"
      classes={{
        // container: 'max-w-xl lg:max-w-2xl',
        title: 'text-3xl md:text-4xl font-bold tracking-tighter mb-4 font-heading text-primary',
        subtitle: 'max-w-3xl text-xl text-muted dark:text-slate-400',
      }}
    />
    <Button variant="primary" class="mx-auto w-fit" href="#">Prenota una demo</Button>
  </div>
</Layout>
