---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import heroComponente from '~/assets/images/whoteach-images/hero-componente.png';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'WhoTeach LMS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    textAlign="side"
    title="Gestisci, personalizza e certifica la formazione"
    subtitle="WhoTeach LMS è la base solida per erogare formazione asincrona scalabile, personalizzabile e conforme. Carica, organizza e gestisci contenuti didattici con la massima libertà, offrendo a ogni utente un’esperienza coinvolgente, tracciabile e certificabile."
    image={{
      src: heroComponente,
      alt: 'Ambiente di studio moderno',
    }}
    callToAction={{
      text: 'Prenota una demo',
      href: '/contatti',
      variant: 'primary',
    }}
  />

  <Content
    largeImage
    title="WhoTeach LMS"
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80',
      alt: 'Contenuti sotto controllo',
    }}
    items={[
      {
        title: 'Struttura dell’apprendimento precisa e strategica',
        description:
          'Combina contenuti video, test, materiali scaricabili e attività interattive. Ogni modulo si adatta alla tua metodologia, seguendo l’ordine, la durata e le regole che definisci tu.',
      },
      {
        title: 'Esperienze formative personalizzate',
        description:
          'Che tu voglia progettare un corso intensivo o un percorso a lungo termine, la piattaforma ti offre la libertà di creare esperienze formative coinvolgenti ed efficaci.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Contenuti sempre sotto controllo, in ogni formato
      </h3>
    </Fragment>
  </Content>

  <Content
    largeImage
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80',
      alt: 'Personalizzazione LMS',
    }}
    items={[
      {
        title: 'Adattabilità totale',
        description:
          'WhoTeach si adatta a te, non il contrario. Personalizza l’interfaccia grafica, definisci i livelli di accesso, struttura i corsi in base ai tuoi flussi di lavoro.',
      },
      {
        title: 'Identità e coerenza',
        description:
          'Ogni elemento è progettato per riflettere la tua identità organizzativa e integrarsi con i tuoi processi, così da offrire un’esperienza coerente e riconoscibile sia per chi forma che per chi apprende.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Personalizzazione avanzata dell’esperienza utente
      </h3>
    </Fragment>
  </Content>

  <Content
    largeImage
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80',
      alt: 'Report LMS',
    }}
    items={[
      {
        title: 'Monitoraggio e controllo',
        description:
          'Con WhoTeach hai sempre sotto controllo ogni fase della formazione: monitora in tempo reale le attività degli utenti, verifica l’efficacia dei percorsi con test e tracciamenti, e genera con un clic tutta la documentazione necessaria per enti finanziatori e audit.',
      },
      {
        title: 'Gestione della qualità e compliance',
        description:
          'Gestire la qualità e la compliance diventa semplice, veloce e integrato nel tuo flusso di lavoro.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-primary">
        Dati tracciati, risultati certificati, report pronti all’uso
      </h3>
    </Fragment>
  </Content>

  <div
    class="intersect-once intercept-no-queue intersect-quarter mx-auto mb-12 flex w-fit flex-col items-center md:mb-16 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade lg:mb-20"
  >
    <Headline
      title="Vuoi capire se fa per te?"
      subtitle="Un nostro consulente è a disposizione per ascoltare le tue esigenze e capire come WhoTeach possa supportare il tuo progetto di formazione"
      textAlign="center"
      classes={{
        title: 'text-3xl md:text-4xl font-bold tracking-tighter mb-4 font-heading text-primary',
        subtitle: 'max-w-3xl text-xl text-muted dark:text-slate-400',
      }}
    />
    <Button variant="primary" class="mx-auto w-fit" href="#">Prenota una</Button>
  </div>
</Layout>
