---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Hero from '~/components/widgets/Hero.astro';
import heroContact from '~/assets/images/whoteach-images/hero-demo-contatto.png';
import InfiniteSlider from '~/components/custom-react/InfiniteSlider';

const metadata = {
  title: 'Contact us',
};

const imagePaths = await Astro.glob('/src/assets/images/whoteach-slider-logos/*').then((files) => {
  return files.map((file) => file.default.src); // Just get the src paths
});
---

<Layout metadata={metadata}>
  <Hero
    textAlign="side"
    image={{
      src: heroContact,
      alt: 'Operatori al lavoro in un call center, utilizzando computer e cuffie per gestire le comunicazioni',
    }}
  >
    <Fragment slot="title"> Sempre a tua disposizione </Fragment>

    <Fragment slot="subtitle">
      Ogni realtà ha esigenze uniche, e scegliere la piattaforma giusta per la formazione non è sempre facile. Per
      questo siamo qui: pronti ad ascoltarti, rispondere alle tue domande e guidarti verso la soluzione più adatta.
    </Fragment>
  </Hero>

  <ContactUs
    id="form"
    title="Fai il primo passo con noi"
    subtitle="Ti interessa la piattaforma? Compila il form e ricevi subito la brochure con dettagli, moduli e piani disponibili."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        "Inviando questo form acconsenti al trattamento dei tuoi dati personali necessario all'invio di una email ai nostri recapiti",
    }}
    description="Il nostro team solitamente risponde entro 2 giorni lavorativi"
  />

  <div class="mb-20 mt-10">
    <InfiniteSlider client:visible duration={30} pauseOnHover={false} imagePaths={imagePaths} />
  </div>
</Layout>
