---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Stats from "~/components/widgets/Stats.astro";
import RotatingText from "~/components/reactbits/RotatingText";
import CircularText from "~/components/reactbits/CircularText";
import InfiniteSlider from "~/components/custom-react/InfiniteSlider";
import CardContent from "~/components/widgets/CardContent.astro";
// import Testimonials from '~/components/widgets/Testimonials.astro';

import hrImage from "../assets/images/whoteach-images/hr.png";
import aziendeImage from "../assets/images/whoteach-images/aziende-pmi.png";
import istitutiImage from "../assets/images/whoteach-images/istituti-di-formazione.png";

import lms from "../assets/images/whoteach-images/lms.png";
import recommenderSystem from "../assets/images/whoteach-images/recommender-system.jpg";
import generativeAI from "../assets/images/whoteach-images/gen-ai.jpg";
import auleVirtuali from "../assets/images/whoteach-images/aule-virtuali.jpg";
import Button from "~/components/ui/Button.astro";
import Quote from "~/components/widgets/Quote.astro";

const metadata = {
  title: "HOME",
  ignoreTitleTemplate: true,
};

const imagePaths = await Astro.glob(
  "/src/assets/images/whoteach-slider-logos/*"
).then((files) => {
  return files.map((file) => file.default.src); // Just get the src paths
});
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    textAlign="left"
    actions={[
      {
        variant: "primary",
        text: "Scarica la brochure",
        href: "https://github.com/onwidget/astrowind",
        target: "_blank",
        icon: "tabler:download",
      },
      {
        variant: "secondary",
        text: "Guarda come funziona",
        href: "#features",
      },
    ]}
  >
    <Fragment slot="title">
      <div class="mx-a">
        La soluzione per la tua <br />
        <RotatingText
          client:visible
          texts={[
            "formazione",
            "crescita",
            "innovazione",
            "carriera",
            "organizzazione",
            "evoluzione",
          ]}
          mainClassName="px-2 sm:px-2 md:px-3 text-accent bg-primary overflow-hidden py-0.5 sm:py-1 md:py-2 justify-center inline-flex rounded-lg"
          staggerFrom={"last"}
          initial={{ y: "100%" }}
          animate={{ y: 0 }}
          exit={{ y: "-120%" }}
          staggerDuration={0.025}
          splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
          transition={{ type: "spring", damping: 30, stiffness: 400 }}
          rotationInterval={2000}
        />
      </div>
      <CircularText
        client:visible
        text="BENVENUTO*SU*WHOTEACH*"
        onHover="pause"
        spinDuration={20}
        className="absolute -right-20 -top-20 hidden text-primary xl:block"
      />
    </Fragment>

    <Fragment slot="subtitle">
      Una piattaforma pensata per enti di formazione e aziende che vogliono
      gestire corsi, docenti e studenti in modo semplice, centralizzato e
      accessibile da ogni dispositivo.
    </Fragment>

    <Fragment slot="slider">
      <div class="mt-12">
        <InfiniteSlider
          client:visible
          duration={30}
          pauseOnHover={false}
          imagePaths={imagePaths}
        />
      </div>
    </Fragment>
  </Hero>

  <CardContent
    title="La soluzione di Digital Learning completa per..."
    columns={3}
    containerClasses="bg-section mt-12"
    content={[
      {
        image: {
          src: hrImage.src,
          alt: "Office",
        },
        title: "Human Resources",
        description:
          "Crea percorsi formativi strutturati, traccia tutto in automatico e certifica la crescita reale delle persone",
      },
      {
        image: {
          src: aziendeImage.src,
          alt: "Meeting Room",
        },
        title: "Aziende e PMI",
        description:
          "Per assolvere gli obblighi normativi, aggiornare le competenze del tuo team e potenziare la produttività della tua realtà",
      },
      {
        image: {
          src: istitutiImage.src,
          alt: "Man teaching a class",
        },
        title: "Istituti di Formazione",
        description:
          "Produci la reportistica richiesta dagli enti finanziatori con un’unica piattaforma conforme e personalizzabile",
      },
    ]}
  />

  <Content
    isReversed
    title="Dalla creazione all'erogazione: ecco cosa puoi fare con WhoTeach"
    image={{
      src: lms,
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <p class="mb-1 text-sm uppercase tracking-tight">
        Learning Management System
      </p>
    </Fragment>
    <Fragment slot="content">
      <h3
        class="mb-2 text-2xl font-semibold tracking-tight text-primary sm:text-3xl"
      >
        Gestisci corsi, materiali e certificazioni da un unico spazio
      </h3>
    </Fragment>

    <Fragment slot="content">
      <p class="mb-2 mt-6 tracking-tight">
        Organizza i tuoi contenuti formativi in modo flessibile, monitora
        l'avanzamento degli utenti e rilascia certificati in automatico. Tutto è
        tracciato, conforme e facilmente personalizzabile, anche con il tuo
        brand.
      </p>
    </Fragment>
  </Content>

  <Content
    image={{
      src: auleVirtuali,
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <p class="mb-1 text-sm uppercase tracking-tight">Aule virtuali</p>
    </Fragment>
    <Fragment slot="content">
      <h3
        class="mb-2 text-2xl font-semibold tracking-tight text-primary sm:text-3xl"
      >
        Tieni lezioni interattive, efficaci e coinvolgenti
      </h3>
    </Fragment>

    <Fragment slot="content">
      <p class="mb-2 mt-6 tracking-tight">
        Crea lezioni sincrone efficaci in un ambiente digitale completo,
        progettato per facilitare l’apprendimento e la collaborazione tra
        docenti e partecipanti.
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    image={{
      src: recommenderSystem,
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <p class="mb-1 text-sm uppercase tracking-tight">Recommender System</p>
    </Fragment>
    <Fragment slot="content">
      <h3
        class="mb-2 text-2xl font-semibold tracking-tight text-primary sm:text-3xl"
      >
        Per costruire corsi migliori, in meno tempo
      </h3>
    </Fragment>

    <Fragment slot="content">
      <p class="mb-2 mt-6 tracking-tight">
        Il sistema di raccomandazione intelligente ti aiuta a trovare
        rapidamente i contenuti più adatti per ogni corso. Analizza input,
        preferenze e obiettivi per proporti risorse pertinenti, aggiornate e
        coerenti.
      </p>
    </Fragment>
  </Content>

  <Content
    image={{
      src: generativeAI,
      alt: "Illustrazione di un cubo tecnologico illuminato, circondato da circuiti elettronici.",
    }}
  >
    <Fragment slot="content">
      <p class="mb-1 text-sm uppercase tracking-tight">Generative AI</p>
    </Fragment>
    <Fragment slot="content">
      <h3
        class="mb-2 text-2xl font-semibold tracking-tight text-primary sm:text-3xl"
      >
        Crea lezioni complete in pochi minuti, con l'aiuto dell'AI
      </h3>
    </Fragment>

    <Fragment slot="content">
      <p class="mb-2 mt-6 tracking-tight">
        Scrivi un prompt, scegli il formato e ottieni contenuti didattici
        originali: testi, slide, diagrammi e quiz vengono generati in
        automatico, pronti per essere usati o personalizzati.
      </p>
    </Fragment>
  </Content>

  <div class="mx-auto mb-12 w-fit md:mb-16 lg:mb-20">
    <Button variant="primary" class="mx-auto" href="#">Scopri WhoTeach</Button>
  </div>

  <Features2
    title="Come viene usata WhoTeach?"
    subtitle="WhoTeach è la piattaforma di digital learning B2B sviluppata dal team per aiutare enti e aziende a creare ed erogare corsi online di qualità, con il supporto dell’IA e un uso più efficiente delle risorse."
    centeredIcons={true}
    classes={{
      headline: {
        container: "basis-1/3",
      },
    }}
    items={[
      {
        title: "Upskilling e reskilling",
        icon: "flat-color-icons:template",
      },
      {
        title: "Formazione obbligatoria",
        icon: "flat-color-icons:gallery",
      },
      {
        title: "Onboarding",
        icon: "flat-color-icons:approval",
      },
      {
        title: "Client training",
        icon: "flat-color-icons:document",
      },
    ]}
  />

  <!-- <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->
  <Quote
    quote="Tutti sono stati molto soddisfatti dalla piattaforma anche per l'eccellente supporto da parte del fornitore sia in fase di personalizzazione della piattaforma sia in fase operativa"
    author="Bruno"
    role="Consulente IT"
    rating={4.5}
    source="Fonte: Capterra"
    classes={{
      container: "md:pt-24 md:pb-8",
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-section dark:bg-transparent"></div>
    </Fragment>
  </Quote>

  <Stats
    stats={[
      { title: "Studenti che hanno già usato WhoTeach", amount: "100K+" },
      {
        title: "Valutazione della nostra assistenza clienti (fonte: Capterra)",
        amount: "4.5/5",
      },
      {
        title:
          "Risparmio medio sui costi per la creazione di materiali didattici",
        amount: "20%",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-section dark:bg-transparent"></div>
    </Fragment>
  </Stats>

  <BlogLatestPosts id="blog" title="Il nostro blog">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
