---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'CHI SIAMO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    textAlign="left"
  >
    <Fragment slot="title"> Aiutiamo le organizzazioni a crescere, partendo dalle persone </Fragment>
    <Fragment slot="subtitle"> Vogliamo ripensare il modo in cui si fa formazione </Fragment>
    <Fragment slot="content"> WhoTeach nasce da una visione ambiziosa e da un’esigenza urgente: ripensare il modo in cui si fa formazione. Tutto ha origine da una tesi di dottorato in Informatica, dove il nostro CEO Francesco Epifania esplora il potenziale dell’Intelligenza Artificiale applicata alla condivisione della conoscenza.
    <br>Da lì, l’intuizione si trasforma in un progetto concreto: <b>un ecosistema digitale per l’apprendimento</b>, sviluppato all’interno di un programma europeo e arricchito dalla collaborazione con università e partner internazionali.
    <br>Oggi WhoTeach è molto più di una piattaforma: è la soluzione <b>SaaS B2B</b> per la formazione aziendale, progettata per chi cerca uno strumento davvero flessibile, intelligente e pronto a evolvere con le sfide del mondo del lavoro. </Fragment>
  </Hero>

  <Content
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Crediamo che l’apprendimento sia il vantaggio competitivo più solido</h3>
    </Fragment>
    <Fragment slot="content">
      <p class="tracking-tight mb-2">
        Aiutiamo aziende, enti e formatori a creare ed erogare <b>percorsi didattici di alta qualità</b>, semplificando l’accesso alle opportunità di upskilling e reskilling.
        <br>
        <br>
        Per noi, la formazione non è un costo da sostenere, ma <b>un investimento che genera valore</b> nel tempo. Perché quando le persone crescono, le organizzazioni evolvono.
      </p>
    </Fragment>
  </Content>

  <Content
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Un ecosistema per chi crede nella crescita continua</h3>
    </Fragment>
    <Fragment slot="content">
      <p class="tracking-tight mb-2">
        Tecnologia avanzata, sì. Ma <b>al servizio delle persone.</b> Perché crediamo che la vera innovazione sia quella che rende l’apprendimento più semplice, accessibile e motivante, per chi insegna e per chi impara.
        <br>
        <br>
        In un mercato che cambia alla velocità delle competenze, l’intelligenza artificiale è per noi la chiave per ridurre il gap, accelerare l’upskilling e trasformare la formazione in un vantaggio competitivo.
      </p>
    </Fragment>
  </Content>

  <Stats
    title='Abbiamo un impatto concreto sulle organizzazioni'
    stats={[
      { title: 'riduzione dei costi', amount: '20%' },
      { title: 'risparmio di tempo', amount: '50%' },
      { title: 'miglioramento della qualità dei corsi', amount: '40%' }
    ]}
  />

  <Hero
    textAlign="left"
  >
    <Fragment slot="subtitle"> Insieme a chi investe sul futuro </Fragment>
    <Fragment slot="content"> Siamo al fianco di imprese e istituzioni che credono nell’innovazione come leva per crescere.
      <br><br>Collaboriamo ogni giorno con enti formativi e aziende che hanno scelto la nostra piattaforma per trasformare le attività di training in esperienze digitali evolute, scalabili e misurabili. Una rete in continua espansione, unita da un obiettivo comune: rendere la formazione un asset strategico per il futuro.
    </Hero>

</Layout>
